 
*{ margin:0px; padding:0px; box-sizing:border-box; }
ul,ol,li{ list-style:none; }
a{ text-decoration:none;}
fieldset{ border:none; }
legend, caption{ position: absolute; top: -9999px; opacity:0; }
table{ border-collapse: collapse;} 