.gallery{
    ul{
        width: 100%; 
        &::after{
            content:''; display: block; clear: both;
        }
        li{
            float: left; width: 20%; height: 300px;  padding: 10px; 
                         
           .inner{
               width: 100%; height: 100%; background: #fff; box-shadow: 5px 5px 10px rgba(0,0,0,0.1); padding: 10px; 

            .pic{
                width: 100%; height: 180px; margin-bottom: 20px; 

                >img{
                    width: 100%; height: 250px; object-fit: cover;  
                }
            }
            h2{
                font:normal 14px/1 'arial'; color:#777;                    
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;          
            }
            span{
                display: flex; 
                justify-content: space-between; 
                align-items: center;
                margin-bottom: 15px;
                >img{
                    width: 20px; height: 20px; border-radius: 50%; 
                    margin-right: 10px; 
                }
                strong{
                    font:12px/1 'arial'; color:orange; 
                    
                }
            }
           }
        }
    }
}
